#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.words {
  display: flex;
  gap: 10px;
}
.wordStayle {
  font-size: large;
  color: rgb(198, 70, 10);
}
.input {
  height: 30px;
  width: 350px;
  border-radius: 10px;
  background-color: rgb(242, 199, 114);
}
.input:focus {
  border-color: #e61515;
}
h1 {
  color: rgb(232, 139, 16);
}
